.user-profile-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.side-1 {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.side-2 {
  width: 70%;
  padding: 20px;
  overflow-y: auto;
}

.profile-header {
  text-align: center;
  margin-top: 10%;
}

.profile-avatar img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
}

.profile-info h1 {
  font-size: 24px;
  font-family: sans-serif;
  margin: 0;
}

.profile-stats {
  padding-top: 1px;
  display: flex;
  font-family: sans-serif;
  margin: 0;
  font-style: normal;
  justify-content: space-around;
}

.visit-profile {
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: normal;
  border-radius: 6px;
  cursor: pointer;
}

.visit-profile:hover {
  background: rgb(235, 235, 235);
}

.bio {
  margin: 0;
  font-size: 14px;
  letter-spacing: .3px;
}

.profile-actions {
  margin-top: 15px;
}
.stat {
  margin: 0;
}
/* side 2  */
.marketplace-repos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}
.marketplace-repos :hover {
  background: rgb(241, 239, 239);
}

.marketplace-repo-card {
  border-radius: 6px;
  padding: 16px;
  display: flex;
}

.repo-card-header {
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

.repo-icon {
  font-size: 32px;
  margin-right: 12px;
}

.repo-title {
  display: flex;
}

.repo-name {
  margin: 0;
  margin-right: 12px;
  color: #58a6ff;
  font-size: 16px;
  font-family: sans-serif;
}

.verified-badge {
  display: inline-flex;
  align-items: center;
}

.verified-badge svg {
  width: 16px;
  height: 16px;
}

.repo-description {
  color: #8b949e;
  font-size: 11px;
  margin: 0;
  line-height: 1.5;
  font-family: sans-serif;
}
@media screen and (max-width: 768px) {
  .side-1 {
    display: none;
  }
  .side-2 {
    width: 100%;
  }
}

/* extra  */

.follower-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 16px;
  margin: 5px;
  background-color: #fff;
  border-radius: 6px;
}
.follower-card:hover {
  background: rgb(241, 239, 239);
}

.follower-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.follower-info {
  padding-left: 10px;
  flex: 1;
  text-align: start;
}

.follower-name {
  font-size: 18px;
  font-weight: bold;
}

.back-button {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: normal;
  border-radius: 6px;
  cursor: pointer;
}

.back-button:active {
  transform: scale(0.98);
}
